body
{
	background-color: #F3F2ED;
	margin-top: 80px;

	font-family: Helvetica;
	font-weight: normal;
	font-size: 12;
	color: #4F4736;
}

p
{
	font-family: Helvetica;
	font-weight: normal;
	font-size: 12;
	color: #4F4736;
}

.uni-search
{
	border-color: white;
	border-width: 2px;
	background-color: #E4E1D5;
}

.uni-subsearch
{
	border-width: 0px;
	background-color: #E4E1D5;
	box-shadow: 0 0px 0 #FFFFFF;
}

.uni-title
{
	color: #7A7139;
	font-size: 26px;
	padding-bottom: 6px;
}

.uni-subtitle
{
	color: #7A7139;
	font-size: 18px;
	opacity: 0.7;
}

.uni-button
{
	background-color: #C9C4B0;
	border-radius: 2px;
	color: #7A7139;
	border: 0;
	outline: none;
	box-shadow: 0 3px 0 #4E492B;
}

.uni-label
{
	background-color: #C9C4B0;
	border-radius: 2px;
	color: #7A7139;
	border: 0;
	outline: none;
	padding: 2px 4px 2px 4px;
}

.uni-label:hover
{
	background-color: #A39B7E;
	color: white;
}

.uni-button:active
{
    box-shadow: 0 1px 0 #4E492B;
    transform: translateY(2px);
}

.uni-no-button
{
	border-width: 0px;
	outline: none;
}

.uni-no-button:hover
{
	border-width: 0px;
	outline: none;
}

.brand 
{
position: absolute;
left: 50%;
margin-left: -50px !important;
display: block;
}

.uni-form
{
    position: relative;
    background-color: #EAE8DE;
    border-radius: 5px;
	padding: 20px 20px 20px 20px;
} 

.uni-book-layer
{
    background-color: #EAE8DE;
    border-radius: 5px;
	padding: 10px 10px 10px 10px;
	margin-top: 10px;
} 

.input-group-addon
{
	color: #7A7139;
	background-color: #C9C4B0;
	border-color: #C9C4B0;
}

.form-control:focus{
    border-color: #C9C4B0;
    -webkit-box-shadow: none;
    box-shadow: none;
}